@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.scrollbar-hiden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hiden {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}